# --- CAMADA 2: Tradutor RAG & Vetores ---
sentence-transformers
faiss-cpu

# --- CAMADA 3: IA na Borda (Edge SLM) ---
pydantic
requests

# --- JUIZ AUDITOR (Cloud LLM) ---
groq

# --- DASHBOARD (Visualização) ---
streamlit
pandas
plotly

# --- UTILITÁRIOS ---
python-dotenv